html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.main-content {
    margin-top: 12vh;
    height: 88vh;
    padding: 15px;
    background: linear-gradient(180.0deg, #FFF9ED 25%, rgba(255, 255, 255, 0.71) 100.0%);
}

.toolbar {
    padding-top: 15px;
    height: 7vh;
    width: 92%;
    position: fixed;
    bottom: 10px;

    border-top: solid 1px #303030;
}

.toolbar > a {
    color: #303030;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}




