html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.main-content {
    height: 88vh;
    padding: 8px 15px 15px 15px;
    background: linear-gradient(to right, #afc6d6 0%, #d6d6d6 30%,#d6d6d6 70%,#afc6d6 100%);
}

.toolbar {
    padding-top: 15px;
    height: 7vh;
    width: 92%;
    position: fixed;
    bottom: 10px;

    border-top: solid 1px #303030;
}

.toolbar > a {
    color: #303030;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.content h3 {
    padding: 15px;
    margin: 89px auto 0;
    font-weight: 400;
    text-align: center;
}

.content {
    height: 100%;
    margin: 0;
    padding: 10px 25px 0 25px;
    background: linear-gradient(180.0deg, #FFF9ED 25%, rgba(255, 255, 255, 0.71) 100.0%);
}

.content p {
    text-indent: 40px;
    margin: 0;
    padding: 15px 0;
}

.col-form-label {
    font-size: 15px;
}

.form-control {
    border-radius: 0;
    transition: none;
    width: 100%;
    height: 45px;
    border: none;
    background: #FFF9ED;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    border-radius: 0;
    transition: none;
    width: 100%;
    height: 45px;
    border: none;
    background: #FFF9ED;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 20px;
    border: none;
    padding: 1rem 2rem;
    margin: 15px 0 25px 0;
    text-decoration: none;
    background: #fff9ED;
    color: #000;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}



